option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    ASPNETCORE_URLS: http://+:5000
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.medium
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
