.DS_Store
# .NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/TestResults/
**/out/
**/.vs/
**/.vscode/
**/packages/
**/publish/
**/Generated_Code/

# Angular
Web App/node_modules/
Web App/dist/
Web App/.angular/
Web App/.env
Web App/.env.*

# Flutter
Mobile App/certificate_verifier/.dart_tool/
Mobile App/certificate_verifier/.packages
Mobile App/certificate_verifier/build/
Mobile App/certificate_verifier/.flutter-plugins
Mobile App/certificate_verifier/.flutter-plugins-dependencies
Mobile App/certificate_verifier/.flutter-plugins-dependencies
Mobile App/certificate_verifier/.idea/
Mobile App/certificate_verifier/.metadata
Mobile App/certificate_verifier/.android/
Mobile App/certificate_verifier/.ios/
Mobile App/certificate_verifier/.web/
Mobile App/certificate_verifier/.linux/
Mobile App/certificate_verifier/.macos/
Mobile App/certificate_verifier/.windows/
Mobile App/certificate_verifier/flutter_*.png
Mobile App/certificate_verifier/pubspec.lock

# AI Service
ai_service/dataset/
